.progress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.countdown {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.countdown span {
  margin-right: 5px;
  color: white;
}

.progress-year {
  font-size: 22px;
  color: white;
  margin-bottom: 5px;
}

.progress-bar-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  color: white;
}

.progress-bar {
  height: 100%;
  background-color: #11ec06;
}

.progress-text {
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0;
  right: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: auto;
}
